<div id="container">
  <div id="logo">

  </div>

  <div id="lista" class="d-flex justify-content-center align-items-center">

    <ul class="d-flex flex-column justify-content-center p-0">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active"><button type="button" class="btn" title="Home"><span
              class="material-symbols-outlined">
              home
            </span></button></a>
      </li>
      <li>
        <a [routerLink]="['/chiSono']" routerLinkActive="active"><button type="button" class="btn"
            title="Chi sono"><span class="material-symbols-outlined">
              person
            </span></button></a>
      </li>
      <li>
        <a [routerLink]="['/progetti']" routerLinkActive="active"><button type="button" class="btn"
            title="Progetti"><span class="material-symbols-outlined">
              code
            </span></button></a>
      </li>
      <li>
        <a [routerLink]="['/contatti']" routerLinkActive="active"><button type="button" class="btn"
            title="Contatti"><span class="material-symbols-outlined">
              contacts
            </span></button></a>
      </li>
    </ul>
  </div>


</div>