/* You can add global styles to this file, and also import other style files */
$verdechiaro: #606C38;
$verdescuro: #283618;
$panna: #FEFAE0;
$marronechiaro: #DDA15E;
$marronescuro: #BC6C25;

html,body {
  background-color: $panna;
}
