<div class="container d-flex">

  <div id="card1" class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
    <p>
      Mi chiamo Roberto, sono uno Junior Front-End Developer con conoscenze di HTML, CSS, SASS, BOOTSTRAP,
      JAVASCRIPT, TYPESCRIPT e ANGULAR.
      <br>
      Ho una passione per lo sviluppo di interfacce creative e intuitive per un'ottima UX. 👨‍💻
      <br><br>
      Dopo aver studiato da autodidatta, ho completato il percorso formativo di Epicode nel marzo
      2023, avviando così la mia carriera nel web development.
      <br><br>
      Laureato in Scienze Motorie nel 2015 e con una Laurea Magistrale in Scienze e Tecniche delle Attività Motorie nel
      2017, ho acquisito esperienza nel settore del benessere, ma ho anche svolto mansioni diverse, come portalettere,
      commesso e operaio, che hanno potenziato le mie soft skills.
      <br>
      Sono proattivo, organizzato e adattabile, e ho una forte
      propensione al lavoro di squadra.
      <br><br>
      Le mie passioni includono la musica, lo sport, i videogame, i viaggi, i libri e la natura. 🎵🏀🕹️🌍📚🌲






    </p>
  </div>
  <div id="card2" class="col-sm-12 col-md-6 p-5">
    <!-- <img src="/assets/img/1696258891472.png" alt="foto personale"> -->
  </div>


</div>