<div id="container">

  <div class="card mb-3" *ngFor="let dolce of dolci">
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="{{dolce.image}}" class="img-fluid rounded-start" alt="bibita">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{dolce.name}}</h3>
          <div class="d-flex justify-content-end">
            <p id="prezzo" class="m-2">{{dolce.price.toFixed(2)}} €</p>
          </div>
          <div>
            <button (click)="aggiungiOrdine(dolce)" type="submit" class="aggiungi">AGGIUNGI ALL'ORDINE</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>