<div id="container" class="p-3">
  <h1 class="mb-5 text-center">CONTATTAMI</h1>
  <p class="mb-5">Sono alla ricerca di una posizione come Junior Front End Developer in un'azienda che mi faccia
    crescere e
    progredire nella mia nuova vita professionale.
  </p>

  <div id="contatti">

    <!-- E-MAIL -->
    <div class="d-flex justify-content-between mb-2">
      <a href="mailto:robertozeoli@outlook.it" class="ms-5">
        <button type="button" class="btn"><span class="material-symbols-outlined">
            mail
          </span></button>
      </a>

      <a href="mailto:robertozeoli@outlook.it" class="me-5">
        robertozeoli@outlook.it
      </a>
    </div>

    <!-- LOCALITA' -->
    <div class="d-flex justify-content-between mb-2">
      <a href="mailto:robertozeoli@outlook.it" class="ms-5">
        <button type="button" class="btn"><span class="material-symbols-outlined">
            location_on
          </span></button>
      </a>

      <p class="me-5">
        Venafro (IS)
      </p>
    </div>

    <!--LINGUE -->
    <div class="d-flex justify-content-between mb-3">
      <a href="mailto:robertozeoli@outlook.it" class="ms-5">
        <button type="button" class="btn"><span class="material-symbols-outlined">
            language
          </span></button>
      </a>

      <p class="me-5">
        Italiano, Inglese
      </p>
    </div>

    <!-- SOCIAL -->
    <div class="social">
      <a href="https://www.linkedin.com/in/roberto-zeoli/" target="_blank" class="ms-5 me-3">
        <img src="/assets/img/linkedin.jpg" alt="logo linkedin">
      </a>

      <a href="https://github.com/RobertoZeoli" target="_blank" class=" github">
        <img src="/assets/img/github.jpg" alt="logo github">
      </a>
    </div>



  </div>



  <!-- <div class="ms-5">
    <a href="https://www.linkedin.com/in/roberto-zeoli/" target="_blank">
      <img src="/assets/img/linkedin.jpg" alt="logo linkedin">
    </a>
  </div>
  <div>
    <a href="https://github.com/RobertoZeoli" target="_blank">
      <img src="/assets/img/github.jpg" alt="logo github">
    </a>
  </div> -->

</div>