<div id="container" class="d-flex flex-column justify-content-center align-items-center p-3">
  <h1 class="mb-5 text-center">CONTATTAMI</h1>
  <p class="mb-3">Sono alla ricerca di una posizione come Junior Front End Developer in un'azienda che mi faccia
    crescere e
    progredire nella mia nuova vita professionale.
  </p>

  <div id="contatti" class="d-flex p-5">

    <!-- E-MAIL -->
    <div class="card p-2 m-2" style="width: 18rem;">
      <div class="top-card">
        <div class="d-flex justify-content-center align-items-center">
          <span class="material-symbols-outlined">
            mail
          </span>
        </div>
      </div>
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class=" card-title mb-5">Scrivimi una email!</h5>
        <a href="mailto:robertozeoli@outlook.it">robertozeoli@outlook.it</a>
      </div>
    </div>

    <!-- SOCIAL -->
    <div class="card p-2 m-2" style="width: 18rem;">
      <div class="top-card">
        <div class="d-flex justify-content-center align-items-center">
          <span class="material-symbols-outlined">
            public
          </span>
        </div>
      </div>
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title">Social</h5>

        <div class="social d-flex justify-content-between">
          <a href="https://www.linkedin.com/in/roberto-zeoli/" target="_blank"
            class="d-flex justify-content-center align-items-center">
            <img src="/assets/img/linkedin.jpg" alt="logo linkedin">
          </a>

          <a href="https://github.com/RobertoZeoli" target="_blank" class="github"
            class="d-flex justify-content-center align-items-center">
            <img src="/assets/img/github.jpg" alt="logo github">
          </a>
        </div>
      </div>
    </div>

    <!-- LOCATION -->
    <div class="card p-2 m-2" style="width: 18rem;">
      <div class="top-card">
        <div class="d-flex justify-content-center align-items-center">
          <span class="material-symbols-outlined">
            location_on
          </span>
        </div>
      </div>
      <div class="card-body d-flex flex-column align-items-center">
        <h5>Where in the world</h5>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <p class="card-title">Venafro (IS)</p>
          <p>Italiano, Inglese</p>
        </div>

      </div>
    </div>


  </div>
</div>

<!-- SOCIAL -->
<!-- <div class="social">
      <a href="https://www.linkedin.com/in/roberto-zeoli/" target="_blank" class="ms-5 me-3">
        <img src="/assets/img/linkedin.jpg" alt="logo linkedin">
      </a>

      <a href="https://github.com/RobertoZeoli" target="_blank" class=" github">
        <img src="/assets/img/github.jpg" alt="logo github">
      </a>
    </div> -->