<div class="container d-flex justify-content-center flex-wrap">

  <!--MYITALY -->
  <div class="card m-2" style="width: 15rem;">
    <img src="/assets/img/capstone.png" class="card-img-top" alt="immagine capstone">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">MyItaly</h5>
        <p class="card-text">MyItaly, un sito che consiglia mete per i tuoi prossimi viaggi dove puoi salvare i tuoi
          preferiti nella tua area personale. Il progetto è stato realizzato con Angular e presentato come progetto
          finale a termine del mio
          percorso formativo in epicode</p>
      </div>

      <div class="d-flex">
        <a [href]="['myitaly']" routerLinkActive="active" class="btn m-1">Video🖥</a>
        <a href="https://github.com/RobertoZeoli/capstoneProject" class="btn m-1" target="_blank">Codice
          &lt;&gt;</a>
      </div>

    </div>
  </div>

  <!--CALCULATOR -->
  <div class="card m-2" style="width: 15rem;">
    <img src="/assets/img/calcolatrice.png" class="card-img-top" alt="immagine calcolatrice">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title ">Calculator</h5>
        <p class="card-text">Una simpatica calcolatrice a portata di schermo! </p>
      </div>
      <div class="d-flex">
        <a [href]="['calculator']" routerLinkActive="active" class="btn m-1">Video🖥</a>
        <a href="https://github.com/RobertoZeoli/Progetti/tree/main/Calcolatrice_Smartphone" class="btn m-1"
          target="_blank">Codice
          &lt;&gt;</a>
      </div>
    </div>
  </div>

  <!--DIGITAL MENU' -->
  <div class="card m-2" style="width: 15rem;">
    <img src="/assets/img/menudigitale.png" class="card-img-top" alt="immagine menù digitale">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Digital Menù</h5>
        <p class="card-text">Un menù digitale sviluppato con Angular appositamente per mobile.
          <br>
          Guarda il menù di panini, bibite e dolce, aggiungi quello che desideri al carrello ed effettua il tuo ordine.
        </p>
      </div>

      <div class="d-flex">
        <a [href]="['digitalmenu']" routerLinkActive="active" class="btn m-1">Video🖥</a>
        <a href="https://github.com/RobertoZeoli/Digital-Menu" class="btn m-1" target="_blank">Codice
          &lt;&gt;</a>
      </div>

    </div>
  </div>

  <!--SPOTIFY -->
  <div class="card m-2" style="width: 15rem;">
    <img src="/assets/img/spotify.png" class="card-img-top" alt="immagine Spotify">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Spotify</h5>
        <p class="card-text">Clone di Spotify realizzato in team durante il mio percorso formativo.
          Il progetto è frutto del lavoro di 4 compagni di corso che hanno lavorato una settimana insieme ricreando
          esattamente tutti gli elementi della famosa app.
        </p>
      </div>

      <div class="d-flex">
        <a [href]="['spotify']" routerLinkActive="active" class="btn m-1">Video🖥</a>
        <a href="https://github.com/RobertoZeoli/buildweek2-Spotify-" class="btn m-1" target="_blank">Codice
          &lt;&gt;</a>
      </div>

    </div>
  </div>

</div>